#header-img{
    height: 60%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
ul {
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(237, 237, 237);

}
li {
  display: inline;
}
li a {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  font-family: Arial, Helvetica, sans-serif; font-size: 23px; font-weight: bold;
  display: block;
  color: rgb(241, 241, 241);
  text-align: center;
  padding:  35px 65px;
  text-decoration: none;
  scroll-snap-type: mandatory;
}
li a:hover:not(.active){ 
  background-image: linear-gradient(to right, rgb(81, 78, 243) , rgb(93, 239, 202));

}
.active {
  background-image: linear-gradient(to right, rgb(240, 108, 137) , rgb(81, 78, 243));
}
body {background-color: rgb(251, 251, 251);}
h1, h2   {color: rgb(55, 55, 55); font-size: 72px; font-family: Arial, Helvetica, sans-serif; text-align: center;}
h1 {
  text-shadow: 2px 2px 2px rgba(21, 21, 21, 0.566);
}
p    {color: rgb(49, 61, 89);font-family: Arial, Helvetica, sans-serif;}