#header-img{
    height: 60%;
    max-width: 100%;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  background-color: antiquewhite;
}
li {
  display: inline;
}
li a {
  display: block;
  color: rgb(55, 55, 55);
  text-align: center;
  padding:  40px 70px;
}
li a:hover:not(.active){ 
  background-color: lightsalmon;

}
.active {
  background-color: indianred;
}
body {background-color: rgb(46, 46, 46);}
h1   {color: rgb(225, 225, 225);}
p    {color: rgb(133, 154, 204);}